*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    font-family: "Segoe UI", sans-serif;

    background:
    linear-gradient(
        135deg,
        #070b1b,
        #0f172a,
        #111827
    );

    color:white;
    padding:30px;
}

.container{
    max-width:1400px;
    margin:auto;

    background:rgba(20,25,45,0.65);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,0.08);

    border-radius:25px;

    padding:30px;

    box-shadow:
    0 20px 40px rgba(0,0,0,0.35);
}

.container h1{
    font-size:2.5rem;
    margin-bottom:25px;
    color:#ffffff;
}

.search-box{
    display:flex;
    gap:15px;
    margin-bottom:30px;
}

.container input{
    flex:1;

    background:#161d35;
    border:none;

    color:white;

    padding:16px 20px;

    border-radius:15px;

    font-size:18px;

    outline:none;
}

.container input::placeholder{
    color:#9ca3af;
}

.container button{
    width:180px;

    border:none;

    border-radius:15px;

    background:
    linear-gradient(
        135deg,
        #4f8cff,
        #2962ff
    );

    color:white;

    font-size:18px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.container button:hover{
    transform:translateY(-2px);
}

/* Weather Card */

#weather{
    margin-top:20px;

    background:#171d33;

    border-radius:25px;

    padding:30px;

    margin-bottom:30px;
}

#weather h2{
    color:white;
    font-size:2.2rem;
    margin-bottom:15px;
}

#weather p{
    font-size:18px;
    margin:12px 0;
    color:#d1d5db;
}

/* News Section */

#news{
    margin-top:20px;
}

#news h2{
    color:white;
    margin-bottom:25px;
    font-size:1.8rem;
}

#newsContainer{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(350px,1fr));

    gap:20px;
}

.news-card{
    background:#171d33;

    border-radius:20px;

    padding:25px;

    transition:.3s;

    border:1px solid
    rgba(255,255,255,0.06);
}

.news-card:hover{
    transform:translateY(-5px);

    border-color:#3b82f6;
}

.news-card h3{
    color:white;

    font-size:18px;

    line-height:1.5;

    margin-bottom:15px;
}

.news-card a{
    display:inline-block;

    color:#60a5fa;

    text-decoration:none;

    font-weight:600;
}

.news-card a:hover{
    color:#93c5fd;
}

/* Scrollbar */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#374151;
    border-radius:20px;
}

/* Mobile */

@media(max-width:768px){

    .search-box{
        flex-direction:column;
    }

    .container button{
        width:100%;
    }

    #newsContainer{
        grid-template-columns:1fr;
    }
}
