*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    background: linear-gradient(
        135deg,
        #dbeafe,
        #e0f2fe,
        #f0f9ff
    );
}

.container{
    width: 380px;
    background: #ffffff;
    padding: 30px;
    text-align: center;

    border-radius: 20px;

    box-shadow:
        0 10px 30px rgba(0,0,0,0.12);

    transition: 0.3s ease;
}

.container:hover{
    transform: translateY(-3px);
}

.container h1{
    color: #1e3a8a;
    margin-bottom: 25px;
    font-size: 2rem;
}

.container input{
    width: 100%;
    padding: 12px;

    border: 2px solid #d1d5db;
    border-radius: 10px;

    outline: none;

    font-size: 16px;

    margin-bottom: 15px;

    transition: 0.3s ease;
}

.container input:focus{
    border-color: #3b82f6;
    box-shadow: 0 0 8px rgba(59,130,246,0.3);
}

.container button{
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    color: white;
    font-size: 16px;
    font-weight: 600;

    background: linear-gradient(
        135deg,
        #3b82f6,
        #2563eb
    );

    transition: 0.3s ease;
}

.container button:hover{
    transform: scale(1.02);

    background: linear-gradient(
        135deg,
        #2563eb,
        #1d4ed8
    );
}

#weather{
    margin-top: 25px;
}

#weather h2{
    color: #1e3a8a;
    margin-bottom: 15px;
    font-size: 2rem;
}

#weather p{
    margin: 10px 0;
    font-size: 17px;
    color: #374151;
}

#news{
    margin-top: 30px;
    text-align: left;
}

#news h2{
    color: #1e3a8a;
    margin-bottom: 15px;
    text-align: center;
}

.news-card{
    background: #f8fafc;
    padding: 12px;
    margin-bottom: 12px;

    border-radius: 10px;

    border-left: 4px solid #2563eb;
}

.news-card h3{
    font-size: 15px;
    margin-bottom: 8px;
    color: #1e293b;
}

.news-card a{
    text-decoration: none;
    color: #2563eb;
    font-weight: 600;
}

.news-card a:hover{
    text-decoration: underline;
}
